@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-sans-pro-400-latin.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/source-sans-pro-600-latin.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-sans-pro-700-latin.woff2") format("woff2");
}

:root {
  --vt-font-sans: "Source Sans Pro", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
